@font-face {
    font-family: 'Baloo Regular'; /*a name to be used later*/
    src: url('../Baloo-Regular.woff') format('woff');
}

.nav-link
{
    color: #ee5f5b;
    font-family: Baloo Regular, Baloo;

}

body
{
    background-color: #000000;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    text-align: center;
}

.center
{
    color: #ffffff;
    text-align: center;
}

.col-form-label
{
    color: #ffffff;
    text-align: left;
    font-family: Baloo Regular, Baloo;
}

.btn
{
    width: 150px;
    font-family: Baloo Regular, Baloo;
    text-align: center;
    color: #ee5f5b;
    background-color: #fecb4c;
    margin-top: 2%;
}


.title
{
    text-align: center;
    font-family: Baloo Regular, Baloo;
    color: #ee5f5b;
    margin-bottom: 2%;
    margin-top: 5%;
}

.nav-logo
{
    font-size: 150%;
}

input
{
   margin-bottom: 5%;
}

