@font-face {
    font-family: 'Baloo Regular'; /*a name to be used later*/
    src: url('../Baloo-Regular.woff') format('woff');
}

.nav-link
{
    color: #ee5f5b;
    font-family: Baloo Regular, Baloo;

}

body
{
    background-color: #000000;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    text-align: center;
}

.center
{
    color: #ffffff;
    text-align:center;
}

.form-label
{
    color: #ffffff;
    margin-left: 0%;
    margin-right: 80%;
    text-align: left;
}

.my_form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


