#dbtext
{
    text-align: left;
    font-size: 250%;
}

#bicep
{
    position: relative;
    right: 15%;
    bottom: 150px;
}

.btn
{
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
}

#reverse
{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}