#logo
{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto
}

#title
{
    text-align: center;
    font-family: Baloo Regular, Baloo;
    color: #ee5f5b;
    font-size: 72px;
}

.center
{
    color: #ffffff;
}

#RegisterButton
{
    display: inline-block;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}