#table {
  margin-left:auto;
  margin-right:auto;
  color: black;
  font-family: Baloo Regular, Baloo;
}

th {
  background-color: grey;
  font-size: 150%;
  font-weight: bold;
}

td {
  background-color: lightgrey;
  font-size: 120%;
}