#table {
  margin:100px 50px 75px 100px;
  font-family: Baloo Regular, Baloo;
  background-color: #fecb4c;
  border-radius: 12px;
}

th{
  color:#ee5f5b;
  height: 100px;
  font-size: 120%;
  letter-spacing: 1px;
}

td{
  color: black;
  height: 100px;
  font-size: 100%;
}

#rank{
  font-size: 60px;
  color: #FFFFFF;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

#highscore{
  text-align: center;
  padding: 40px 0;
  font-size: calc(3em + 2.5vw);
  background: linear-gradient(#ff0000, #00FF00, #00FFFF, #9400D3);
  background: -webkit-linear-gradient(#ff0000, #00FF00, #00FFFF, #9400D3);
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 1s linear infinite alternate;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}