.snackbar {
  visibility: hidden;
  width: 250px;
  background-color: #ee5f5b;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 30px;
}

#usersnackbar {
  margin-left: -270px;
}

#passwordsnackbar {
  margin-left: 270px;
}

#confirmsnackbar {
  margin-left: 0px;
}

#loginsnackbar {
  margin-left: -125px;
}

#samesnackbar {
  margin-left: 270px;
}

#changesnackbar {
  margin-left: 270px;
}

#oldsnackbar {
  margin-left: -270px;
}

#emptysnackbar {
  margin-left: -540px;
}

#friendsnackbar {
  margin-left: -125px;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
  animation: fadein 0.5s, fadeout 0.5s 5.5s;
}

/* Animations to fade the snackbar in */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}