{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
    <p>
        <br>
        <br>
    </p>
    <table id=table class="table table-striped" style="width:100%">
        <link href="/static/css/leaderboard.css" rel="stylesheet">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Score</th>
        </tr>
    {% for highscore in highscores %}
        <tr>
            <td>{{ highscore.username }}</td>
            <td>{{ highscore.date }}</td>
            <td>{{ highscore.highscore }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}