{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block css %}
<link href="/static/css/index_style.css" rel="stylesheet">
<link href="/static/css/leaderboard.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <p>
        <br>
        <br>
    </p>
    <a href="/leaderboard_mirror"><button class="btn btn-lg" style="width:30%">Leaderboard Mirror mode</button></a>
    <p>
        <br>
        <br>
    </p>
    <table id=table class="table table-dark" style="width:100%">
        <tr>
            <th id="title" colspan="4">Leaderboard Normal mode</th>
        </tr>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Date</th>
            <th>Score</th>
        </tr>
        <tr>
    {% for (rank, highscore) in highscores %}
            <td>#{{ rank }}</td>
            <td>{{ highscore.username }}</td>
            <td>{{ highscore.date }}</td>
            <td>{{ highscore.highscore }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}