{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block css %}
<link href="/static/css/game_style.css" rel="stylesheet">
{% endblock %}

{% block main %}

{% for live in range(lives) %}
<img src="static/images/hearth.png" alt="hearth" class="float-left hearth" width=50px height=50px>
{% endfor %}
{% for lost_lives in range(4 - lives) %}
<img src="static/images/broken_hearth.png" alt="broken_hearth" class="float-left hearth" width=50px height=50px>
{% endfor %}
<p id="score">{{ score }}</p>
<p id="question">{{ question | safe }}</p>

<!-- Answers -->
<form name="answer" method="post" action="/triviagame">
    <div class="btn-group-vertical" style="text-align:left">
        {% for answer in answers %}
        <button type="submit" name="answer" value="{{ answer }}" class="btn answer">{{ answer | safe }}</button>
        {% endfor %}
    </div>
</form>
<p class="center">To skip a question reload the page.</p>
{% endblock %}



