{% extends "layout.html" %}

{% block title %}
    Main Reverse
{% endblock %}

{% block css %}
<link href="/static/css/game_style.css" rel="stylesheet">
<link href="/static/css/page_transition.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
<script src="{{ url_for('static', filename='javascript/game.js') }}"></script>
{% endblock %}

{% block main %}
<div class="wrapper">
    <img src="/static/images/alarm_clock.png" />
    <div id="bar"></div>
</div>

<div id="hearts" class="fadein">
    <img id="heart3" src="static/images/hearth.png" alt="hearth" class="float-left hearth" width=50px height=50px>
    <img id="heart2" src="static/images/hearth.png" alt="hearth" class="float-left hearth" width=50px height=50px>
    <img id="heart1" src="static/images/hearth.png" alt="hearth" class="float-left hearth" width=50px height=50px>
    <img id="heart0" src="static/images/hearth.png" alt="hearth" class="float-left hearth" width=50px height=50px>
</div>

<p id="score">{{ score }}</p>

<div id="reverse">
    <div id="transition" class="transition_block">
        <p id="question">{{ question | safe }}</p>

        <!-- Answers -->
    <div id="answers" class="btn-group-vertical" style="text-align:left">
        {% for answer in answers %}
            <button type="submit" name="answer" value="{{ answer }}" class="btn answer">{{ answer | safe }}</button>
        {% endfor %}
    </div>
    <p class="center">Reloading the page ends the game</p>
    </div>
</div>
<noscript>Your browser needs to support javascript in order for our site to work!</noscript>
<script>
    // when button is clicked submit answer and get next question
    $(document).on('click', 'button', function () {
        var answer = $(this).val();
        new_question(answer, reverse);
    });
</script>
{% endblock %}