{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block css %}
<link href="/static/css/game_style.css" rel="stylesheet">

<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>

<script>
    window.onload = function onLoad() {
        var circle = new ProgressBar.Circle('#bar', {
            color: "#fecb4c",
            strokeWidth: 6,
            duration: "{{duration|tojson}}",
            easing: 'easeInOut'
        });
    circle.animate(1);
    };

    window.setTimeout('refreshPage()', "{{ duration }}");
        function refreshPage()

        {
            window.location = window.location.pathname;
        }
</script>
{% endblock %}

{% block main %}

<div class="wrapper">
    <img src="/static/images/alarm_clock.png" />
    <div id="bar"></div>
</div>

{% for live in range(lives) %}
<img src="static/images/hearth.png" alt="hearth" class="float-left hearth" width=50px height=50px>
{% endfor %}
{% for lost_lives in range(4 - lives) %}
<img src="static/images/broken_hearth.png" alt="broken_hearth" class="float-left hearth" width=50px height=50px>
{% endfor %}
<p id="score">{{ score }}</p>
<p id="question">{{ question | safe }}</p>

<!-- Answers -->
<form name="answer" method="post" action="/triviagame">
    <div class="btn-group-vertical" style="text-align:left">
        {% for answer in answers %}
        <button type="submit" name="answer" value="{{ answer }}" class="btn answer">{{ answer | safe }}</button>
        {% endfor %}
    </div>
</form>
<p class="center">To skip a question reload the page.</p>
{% endblock %}