{% extends "layout.html" %}

{% block title %}
    New Record!!!
{% endblock %}

{% block css %}
<link href="/static/css/fireworks.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% endblock %}

{% block main %}
    {% for firework in range(3) %}
        <div class="firework" id="firework{{ firework }}">
            {% for explsion in range(12) %}
                <div class="explosion"></div>
            {% endfor %}
        </div>
    {% endfor %}

<h1 class="center title">NEW RECORD!!!<br>
{{ score }}</h1>
<p  class="center">(celebrate with some fireworks)</p>

<!-- buttons -->
<div class="mx-auto">
    <a href="{{ mode }}">
        <button class="btn btn-lg">Try again</button>
    </a>
    <a href="/">
        <button class="btn btn-lg">Quit</button>
    </a>
</div>
{% endblock %}