{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
<link href="/static/css/db_style.css" rel="stylesheet">
{% endblock %}

{% block main %}
<h1 class="center title">Dashboard</h1>

<p id="dbtext">Welcome back {{ username }}!
<br>
Why don't you grab some coffee
<br>
and show em how it's done?</p>

<img src="static/images/bicep.png" alt="flexing bicep" class="float-right" width=200 height=200 id="bicep">

<a href="/Triviagame">
    <button class="btn btn-lg">Normal mode</button>
</a>
<a href="/reverseTriviagame">
    <button id="reverse" class="btn btn-lg">Mirror mode</button>
</a>
<p>
    <table id="pb">
        <tr>
            <td>Personal best: {{ highscore }}</td>
            <td>Personal best: {{ highscore_mirror }}</td>
        </tr>
    </table>

</p>

{% endblock %}