{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form id="my_form" action="/login" method="post" onsubmit="user_check()">
        <div class="form-group">
            <label class="form-label" for="username">Username</label>
            </br>
            <input id="username" autocomplete="off" autofocus class="form-control" name="username" type="text">
        </div>
        <div class="form-group">
            <label class="form-label"for="password">Password</label>
            </br>
            <input class="form-control" name="password" type="password">
        </div>
        <button id="myButton" class="btn btn-primary" type="submit">Login</button>
    </form>
    <script></script>
{% endblock %}