{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <table id=table style="width:75%">
        <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
        <tr>
            <th>Username</th>
            <td>{{ username }}</td>
            <th>
                <a href="/change_username">
                    <button class="btn btn-lg">Change username</button>
                </a>
            </th>
        </tr>
        <tr>
            <th>Password</th>
            <td>**********</td>
            <th>

                <a href="/change_password">
                    <button class="btn btn-lg">Change password</button>
                </a>
            </th>
        </tr>
        <tr>
            <th>Rank</th>
            <td id=rank>#{{ rank }}</td>
        </tr>
        <tr>
            <th>Personal best</th>
            <td id=highscore>{{ highscore }}</td>
        </tr>
    </table>
{% endblock %}