{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <table id=table style="width:75%">
        <link href="/static/css/profile.css" rel="stylesheet">
        <tr>
            <th>Username</th>
            <td>{{ username }}</td>
            <th>
                <a href="/change_username">Change username</a>
            </th>
        </tr>
        <tr>
            <th>Password</th>
            <td>**********</td>
            <th>
                <a href="/change_password">Change password</a>
            </th>
        </tr>
        <tr>
            <th>Personal best</th>
            <td id=highscore>{{ highscore }} !</td>
        </tr>
        <tr>
            <th>Rank</th>
            <td>#{{ rank }}<img src="/static/images/sports-medal.png" width="130" height="130" alt="medaille"</td>
        </tr>
    </table>
{% endblock %}