{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h1 class="center title">Register</h1>

    <form id="my_form" action="/register" method="post" onsubmit="user_check()">
        <div class="form-group">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="username">Username</label>
                <div class="col-sm-10">
                    <input id="username" autocomplete="off" autofocus class="form-control col-sm-10" name="username" type="text">
                </div>
            </div>
            <div id="alert-username" class="invalid-feedback" style="display:none;">
                Username already taken!
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="password">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" autocomplete="off" autofocus class="form-control col-sm-10" name="password" type="password">
                </div>
            </div>
            <div id="alert-password" class="invalid-feedback" style="display:none;">
                Your password must be 6-20 characters long and must not contain spaces or special characters.
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <label class="fcol-sm-2 col-form-label" for="confirmation">Password confirmation</label>
                <div class="col-sm-10">
                    <input class="form-control" name="confirmation" type="password">
                </div>
            </div>
        </div>
        <button class="btn btn-lg" type="submit">Register</button>
    </form>

    <script>
        document.getElementById("my_form").addEventListener("submit", function(event){
        event.preventDefault();
        document.getElementById("alert-username").style.display = "none";
        document.getElementById("username").className = "form-control";
        document.getElementById("alert-password").style.display = "none";
        document.getElementById("password").className = "form-control";
        });

        function check() {
            var my_form = document.querySelector("form");
            var username = document.querySelector("input[name='username']");
            var password = document.querySelector("input[name='password']");
            var confirm = document.querySelector("input[name='confirmation']");

            var user_check = $.get("/check?username=" + username.value, function(available) {
                var availability = $.parseJSON(available);
                if (availability == false) {
                    document.getElementById("alert-username").style.display = "block";
                    document.getElementById("username").className = "form-control is-invalid";
                    my_form.reset();
                }
            });
            var pass_check = $.post("/check", {password: password.value, confirmation: confirm.value}, function(correctness) {
                if (correctness.succes == false) {
                    document.getElementById("alert-password").style.display = "block";
                    document.getElementById("password").className = "form-control is-invalid";
                    my_form.reset();
                }

                if (correctness.confirmation == false) {
                    document.getElementById("alert-confirmation").style.display = "block";
                    document.getElementById("confirmation").className = "form-control is-invalid";
                    my_form.reset();
                }
            });
            user_check.done(function(availability) {
                pass_check.done(function(correctness) {
                    if (availability == true && correctness.succes == true && correctness.confirmation == true) {
                        my_form.submit();
                    }
                });
            });
        }
    </script>
{% endblock %}