{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/snackbar.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='javascript/check.js') }}"></script>
{% endblock %}

{% block main %}
<h1 class="center title">Register</h1>

    <form id="my_form" action="/register" method="post" onsubmit="register_check()">
        <div class="form-group">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="username">Username</label>
                <div class="col-sm-10">
                    <input id="username" class="form-control" name="username" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" autocomplete="off" autofocus class="form-control col-sm-10" type="password" for="password">Password</label>
                <div class="col-sm-10">
                    <input id="password" class="form-control" name="password" type="password">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="confirmation">Password confirmation</label>
                <div class="col-sm-10">
                    <input id="confirmation" class="form-control" name="confirmation" type="password">
                </div>
            </div>
        </div>
        <button class="btn btn-lg" type="submit">Register</button>
    </form>
    <div id="usersnackbar" class="snackbar">Username already taken!</div>
    <div id="passwordsnackbar" class="snackbar">Your password must be 6-20 characters long, must contain a number and must not contain spaces.</div>
    <div id="confirmsnackbar" class="snackbar">Password and confirmation do not match!</div>

<script>
document.getElementById("my_form").addEventListener("submit", function(event){
    event.preventDefault();
});
</script>
{% endblock %}